@use '../../styles/mixins.scss' as *;
@use '../../styles/variables.scss' as *;
// @use '../utils/helpers' as *;

// For logo font
@import url('https://fonts.google.com/share?selection.family=Playwrite+VN:wght@100..400');

.nav-bar {
	background-color: $primary_color;
	color: $white_color;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;

	&-container {
		// @include flex-center-space-between;
		@include flex-center;
		padding: 10px;
	}

	&-logo {
		font-size: 1.4rem;
		text-align: center;

		a {
			color: $white_color;
			padding: 5px;
			font-family: "Playwrite VN", serif;
			letter-spacing: 2px;
		}
	}
}