@use '../../styles/mixins.scss' as *;
@use '../../styles/variables.scss' as *;

@font-face {
    font-family: "Reospec";
    src: url("/fonts/Reospec.woff2") format("woff2"),
        url("/fonts/Reospec.woff") format("woff"),
        url("/fonts/Reospec.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PerfectoCalligraphy";
    src: url("/fonts/PerfectoCalligraphy.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.spinner {
    position: absolute;
    inset: 0;
    @include flex-center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    z-index: 1000;

    &-brand {
        font-size: 4em;
        font-family: "Reospec", sans-serif;

        span {
            animation-name: anim-text-flow-keys;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-fill-mode: forwards;
        }
    }

    &-brand-proverb {
        font-family: "PerfectoCalligraphy";
        font-size: 2em;
        color: goldenrod;
    }
}

/* Keyframe loop */
@keyframes anim-text-flow-keys {
    0% {
        color: hsla(0, 60%, 60%, 1);
        font-weight: 400;
    }

    5% {
        color: hsla(18, 60%, 60%, 1);
    }

    10% {
        color: hsla(36, 60%, 60%, 1);
    }

    15% {
        color: hsla(54, 60%, 60%, 1);
    }

    20% {
        color: hsla(72, 60%, 60%, 1);
    }

    25% {
        color: hsla(90, 60%, 60%, 1);
    }

    30% {
        color: hsla(108, 60%, 60%, 1);
    }

    35% {
        color: hsla(126, 60%, 60%, 1);
    }

    40% {
        color: hsla(144, 60%, 60%, 1);
    }

    45% {
        color: hsla(162, 60%, 60%, 1);
    }

    50% {
        color: hsla(180, 60%, 60%, 1);
    }

    55% {
        color: hsla(198, 60%, 60%, 1);
        font-weight: 700;
    }

    60% {
        color: hsla(216, 60%, 60%, 1);
    }

    65% {
        color: hsla(234, 60%, 60%, 1);
    }

    70% {
        color: hsla(252, 60%, 60%, 1);
    }

    75% {
        color: hsla(270, 60%, 60%, 1);
    }

    80% {
        color: hsla(288, 60%, 60%, 1);
    }

    85% {
        color: hsla(306, 60%, 60%, 1);
    }

    90% {
        color: hsla(324, 60%, 60%, 1);
    }

    95% {
        color: hsla(342, 60%, 60%, 1);
    }

    100% {
        color: hsla(360, 60%, 60%, 1);
        font-weight: 900;
    }
}
